.rectangle-layout {
  display: inline-block;
  grid-template-columns: 1fr; /* or auto if you want columns to adjust based on content */
  grid-template-rows: auto;
  align-items: center;
  padding: 20px;
  max-width: 50%; /* Adjust the width as needed */
}

.circle-button {
  margin-top: 5px;
  padding: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: regular;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 10px;
}

.task-item {
  background-color: #28a745;
}

.empty-task {
  width: 1250px;
  height: 1250px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: #6c757d; /* Default color for empty circles */
}


.map-container {
  position: relative;
  max-width: 100%;
}

.table-map {
  width: 100%;
  height: auto;
}


.table-full {
  background-color: #ff0000	; /* Example background color for full tables */
}

.table-semi-empty {
  background-color: #FFFFE0; /* Example background color for full tables */
}

.table-empty {
  background-color: #90EE90	; /* Example background color for empty tables */
}

/* In your CSS file or style block */
.custom-modal {
  max-width: 50%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the modal horizontally */
}





